footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:100%;
    height:92vh;
    /* background-image:url(pictures/blueworld.png); */
    background-color: var(--tertiary-color);
    background-size: cover;
    background-position: center;
}

#leftside {
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#leftside img {
    max-width: 90%;
    max-height: 90%;
}

#rightside {
    margin: 8px;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

/* Upper Right Grid */

#social {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 8px;
}

.info{
    display: flex;
    flex-direction: column;
} 

#artname {
    padding: 8px 0;
    font-size:24px;
    color: black;
    letter-spacing:3px;
    background: none;
}

#author {
    padding: 8px 0;
    font-size:24px;
    color: black;
    letter-spacing:3px;
    background: none;
}

#bioText {
    padding: 8px 0;
    font-size:16px;
    color: black;
    letter-spacing:3px;
    background: none;
}

/* Lower Right Grid */

#comms {
    display: flex;
    flex-direction: row;
}

.commentPrompt {
    width: 90%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    border-radius: 24px;
    border: none;
    outline: none;
}

.hidden {
    display: none;
  }

#commentBox {
    margin: 0.5em 1em;
    padding:0.5em;
    width: 70%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 20px;
}

#commentBtn {
    padding: 0.7em;
    width: 25%;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1.6em;
    background-color: var(--supporting-color4);
    color: var(--white-color);
}

#comments {
    background-color: var(--secondary-color);
    padding: 1em;
    margin: 1em 1em 1em 0;
    display: flex;
    flex-flow: column;
    border-radius: 16px;
}

#userImg {
    width: 30px;
    margin-left:50px;
    height: auto;
}

#commentContainer {
    height: 64px;
    padding: 0.5em;
    display: grid;
    grid-template-rows: 3fr 2fr;
}

.user {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
}

#commentContainer p {
    padding-left: 2em;
}

/* .slider{
    margin: 0 5%;
    display:flex;
    align-items:center;
    position:absolute;
    bottom:50px;
}

#prev,#next{
    width:30px;
    cursor:pointer;
}

.preview{
    display:flex;
    align-items:center;
    margin:0 20px;
}

.preview img{
    width:60px;
    margin:0 10px;
    opacity:0.4;
}

.preview .active{
    display:block;
    border:3px solid #fff;
    width:100px;
    opacity:1;    
} */

/* #art {
    width: 70%;
    height: 70%;
    margin-top: 2%;
} */