/*footer {
    position: absolute;
    bottom: -300px;
    width: 100%;
}*/

/* Search Bar */

.searchBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    width: 64vw;
    min-height: 40px;
    background-color: var(--white-color);
    border-radius: 24px;
    border: none;
    outline: none;
}

#searchBar {
    margin: 0.5em 1em;
    padding:0.5em;
    width: 80%;
    border: none;
    outline: none;
    font-size: 20px;
}

#searchButton {
    padding: 0.8em;
    width: 20%;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1.6em;
    background-color: var(--supporting-color4);
    color: var(--white-color);
}

.results-wrapper {
    margin-top: -2%;
    position: relative;
    z-index: 1000;
}

.search-wrapper{
    display: flex;
    flex-direction: column;
    gap: .25rem;
    width: 300px;
}

.results {
    width: 100px;
    font-size: 20px;
    display: flex;
    margin-left: 750px;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    position: absolute;
}

input{
    font-size: 1rem;
}

.user-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
    text-align: center;

}

.tag-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
    text-align: center;

}

.card{
    border: 1px solid black;
    background-color: white;
    padding: .5rem;
}

.card > .header {
    margin-bottom: .25rem;
}

.card > .body{
    font-size: .8rem;
    color: gray;
}

.hide{
    display: none;
}

 
.card {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    width: 450px;
    padding: 20px; 
    overflow: auto;
    border-radius: 20px;
    margin: auto;
    white-space: normal;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

/*radio buttons*/
.radioCheck{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-left: 650px ;

    /*position: absolute;*/
    transform: translate(-26%, 10%);
    justify-content: center;
}

input[type="radio"]{
    display: none;
}

input[type="radio"]:checked + label {
    background-color: var(--supporting-color4);
    color: white;
    /*text-align: center;*/
}

input[type="radio"]:checked + label:before {
    height: 4px;
    width: 4px;
    border: 3px solid;
    background-color: var(--supporting-color4);
    color: black
}

label{
    position: relative;
    color: black;
    font-size: 10px;
    border: 1px solid var(--supporting-color4);
    border-radius: 10px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

label::before{
    content: "";
    height: 10px;
    width: 10px;
    border: 1px solid var(--supporting-color4);
    border-radius: 50%;
    margin-right: 20px;
}

/* Tags and Buttons */

.tagspan {
    color: var(--supporting-color5);
    font-weight: bold;
}

#tagList {
    width: 90vw;
    margin: 8px 0px 8px 0px;
    padding: 16px;
    color: var(--supporting-color);
    font-size: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.tagButton {
    margin: 0px 8px 0px 8px;
    padding: 12px 12px;
    border: none;
    border-radius: 12px;
    background: var(--primary-color);
    font-size: 20px;
    color: var(--white-color);
}

.toggled {
    background: var(--supporting-color);
    color: var(--supporting-color3);
    border-radius: 12px;
}

#activeTags {
    width: 90vw;
    color: var(--supporting-color);
    font-size: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#activeTags li {
    padding: 0px 10px 0px 10px;
}

/* Pictures */

.artPieces {
    width: 100vw;
    height: 1000px;
    margin-top: 0px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-inline-start: 0px;
}

.galleryImg {
    width: 280px;
    height: 280px;
    object-fit: cover;
}

img {
    padding: 10px;
}

.browse-wrapper {
    position: absolute;
    z-index: 1;
}

.mask {
    position: relative;
    top:0; bottom:0; left:0; right:0;
    background:rgba(0,0,0,0.25);
}