:root {
  --white-color:   #ffffff;
  --dark-color:    rgb(0, 0, 0);
  --primary-color: #c52538;
  --secondary-color: #fce786;
  --tertiary-color: #ffe6c5;
  --supporting-color: #4f07c2;
  --supporting-color2: #faac40;
  --supporting-color3: #ffd700;
  --supporting-color4: #ae50ec;
  --supporting-color5: #ec5074;
  --gradient-color1:linear-gradient(15deg, rgb(146, 30, 241) 20%, rgb(250, 163, 57) 90%);
  --gradient-color2:linear-gradient(15deg,rgb(250, 163, 57) 40%, rgb(146, 30, 241)  100%);
  --gradient-color3:linear-gradient(90deg,rgb(252, 146, 16, 1) 40%, rgb(241, 30, 76)  100%);
  --gradient-color4:linear-gradient(15deg,rgb(250, 163, 57) 50%, rgb(146, 30, 241)  180%);

  --body-font-family: 'Montserrat', sans-serif;
  --title-font-family:'Great Vibes', cursive;
  --h1-font-size:                 58px;
  --h2-font-size:                 46px;
  --h3-font-size:                 32px;

  --border-radius-large:          100px;
  --border-radius-medium:         20px;
  --border-radius-small:          10px;
}

body {
  font-family: var(--body-font-family);
  background-color: var(--tertiary-color);
  margin: 0px;
}

.hidden {
  display: none;
}

  /* Side Navigation Menu */

#menu {
  padding: 8px;
  color: var(--white-color);
  display: block;
  position: absolute;
  top: 12px;
  left: 12px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: var(--gradient-color1);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 24px;
  color: var(--white-color);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: var(--supporting-color);
  font-size: 32px;
}

.sidenav a.noScaleUp {
  font-size: 24px;
}

.sidenav a.noRecolor {
  color: var(--white-color);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Main */

#main {
  transition: margin-left .5s;
  /* padding: 16px; */
}

h1 {
  height: 80px;
  margin: 0px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  font-weight: bold;
  font-size: 48px;
  font-family: 'Great Vibes', cursive;
  background-image: var(--gradient-color2);
}

h2 {
  height: 64px;
  margin: 0px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  font-weight: bold;
  font-size: 40px;
  background-color: var(--primary-color);
}

hr {
  color: var(--gradient-color2);
  background-color: var(--gradient-color2);
}

.tagspan {
  display: block;
  color: var(--supporting-color3);
  font-size: 24px;
  margin: 8px 8px 8px 8px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Small devices (landscape phones, 576px and up)*/
@media only screen and (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up)*/
@media only screen and (min-width: 768px) {  }

/* Large devices (desktops, 992px and up)*/
@media only screen and (min-width: 992px) {  }

/* X-Large devices (large desktops, 1200px and up)*/
@media only screen and (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up)*/
@media only screen and (min-width: 1400px) {  }

/*---------------------------------------
  SITE FOOTER              
-----------------------------------------*/
footer {
  position: absolute;
  bottom: -300px;
  width: 100%;
}
.site-footer {
  border-bottom: 10px solid var(--supporting-color);
  position: relative;
}

.site-footer::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 200px 200px;
  border-color: transparent transparent var(--supporting-color) transparent;
  pointer-events: none;
}

.site-footer-title {
  color: var(--primary-color); 
}

.site-footer .dropdown-menu {
  padding: 0;
}

.site-footer .dropdown-item {
  color: var(--p-color);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-medium);
  padding: 4px 18px;
}

.site-footer .dropdown-item:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.site-footer .dropdown-menu li:first-child .dropdown-item {
  padding-top: 20px;
}

.site-footer .dropdown-menu li:last-child .dropdown-item {
  padding-bottom: 12px;
}

.site-footer .dropdown-toggle {
  background-color: var(--secondary-color);
  border-color: var(--white-color);
}

.site-footer .dropdown-toggle:hover {
  background-color: var(--primary-color);
  border-color: transparent;
}

.site-footer-links {
  padding-left: 0;
}

.site-footer-link-item {
  display: block;
  list-style: none;
  line-height: normal;
}

.site-footer-link {
  color: var(--dark-color);
  font-size: var(--copyright-font-size);
  font-weight: var(--font-weight-medium);
  line-height: normal;
  
}

.copyright-text {
  font-size: var(--copyright-font-size);
  /*background-image: var(--gradient-color4);*/
}


/*---------------------------------------
  SECTION               
-----------------------------------------*/
.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

/*.section-bg {
  background-image: var(--gradient-color2);
}*/

.section-overlay {
  background-image: linear-gradient(15deg, rgba(241, 30, 30, 1) 0%, rgb(252, 146, 16, 1) 100%);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  opacity: 0.85;
}

.section-overlay + .container {
  position: relative;
}



/*---------------------------------------
  NAVIGATION              
-----------------------------------------*/
.sticky-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.sticky-wrapper.is-sticky .navbar {
  background-color: var(--dark-color);
}

.navbar {
  background: transparent;
  border-bottom: 1px solid rgba(225, 225, 225, 0.35);
  z-index: 9;
}

.navbar-brand,
.navbar-brand:hover {
  font-size: 32px;
  font-weight: 600;
  display: block;
}

.navbar-brand span {
  font-family: var(--title-font-family);
}

.navbar-expand-lg .navbar-nav .nav-link {
  border-radius: var(--border-radius-large);
  margin: 10px;
  padding: 10px;
}

.navbar-nav .nav-link {
  display: inline-block;
  color: var(--white-color);
  font-family: var(--title-font-family); 
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-nav .nav-link.active, 
.navbar-nav .nav-link:hover {
  color: var(---color);
}

.navbar .dropdown-menu {
  background: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  border: 0;
  display: inherit;
  opacity: 0;
  min-width: 9rem;
  margin-top: 20px;
  padding: 13px 0 10px 0;
  transition: all 0.3s;
  pointer-events: none;
}

.navbar .dropdown-menu::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid var(--white-color);
  position: absolute;
  top: -10px;
  left: 10px;
}

.navbar .dropdown-item {
  display: inline-block;
  color: var(--p-bg-color);
  font-family: var(--title-font-family); 
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  position: relative;
}

.navbar .dropdown-item.active, 
.navbar .dropdown-item:active,
.navbar .dropdown-item:focus, 
.navbar .dropdown-item:hover {
  background: transparent;
  color: var(--primary-color);
}

.navbar .dropdown-toggle::after {
  content: "\f282";
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-size: var(--copyright-font-size);
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  left: 2px;
  border: 0;
}

@media screen and (min-width: 992px) {
  .navbar .dropdown:hover .dropdown-menu {
    opacity: 1;
    margin-top: 0;
    pointer-events: auto;
  }
}

.navbar-icon {
  background: var(--white-color);
  border-radius: var(--border-radius-large);
  display: inline-block;
  font-size: var(--h5-font-size);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: all 0.3s ease;
}

.navbar-icon:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--white-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--white-color);
  width: 30px;
  height: 2px;
  content: '';
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}