footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.teamCards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    /* Add shadows to create the "card" effect */
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 4vw 2vw;
    height: 30vw;
    width: 20vw;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: var(--supporting-color);
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    text-align: center;
    height: 20vw;
    width: 20vw;
    background-color: var(--white-color);
}

.container h4 {
    font-size: 24px;
}

.container p {
    font-size: 20px;
}

.container button {
    font-size: 24px;
    color: var(--white-color);
    background-color: var(--supporting-color4);
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 12px;
}