.collapsible {
    background-color: var(--supporting-color);
    color: var(--white-color);
    cursor: pointer;
    margin: 1vw 0 0 1.5vw;
    width: 96vw;
    height: 64px;
    border-radius: var(--border-radius-small);
    border: none;
    text-align: middle;
    outline: none;
    font-size: 28px;
    font-weight: 600;
}

.active, .collapsible:hover {
    background-color: var(--supporting-color4);
}

.content {
    margin: 0 0 0 1.5vw;
    width: 96vw;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

p {
    background-color: var(--tertiary-color);
    color: var(--dark-color);
    text-align: center;
    line-height: normal;
    font-size: 24px;
    padding: 8px;
    margin: 0px;
}

/* Welcome Button */

#welcome {
    margin: 10vw 33vw;
    padding: 30px 40px 10px 30px;
    border: none;
    border-radius: 24px;
    background-image: var(--gradient-color3);
    font-size: 160px;
    font-family: var(--title-font-family);
    color: white;
    text-align: center;
}

#welcome a:hover {
    color: var(--tertiary-color);
}

#welcome a {
    color: white;
}