footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#hero {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
}

#upperHalf {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./asset/userPFP/color-bomb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#lowerHalf {
    margin: 40px 20px;
    min-height: 50vh;
    min-width: 80vw;
    display: flex;
    flex-wrap: wrap;
}

#lowerHalf img {
    width: 20em;
    height: 15em;
    padding: 0.5em;
    margin: 1em;
}

#bioEdit {
    order: 3;
}

#editBio {
    order: 4;
}

#cancelEditBio {
    order: 5;
}

#userPicture {
    width: 200px;
    height: 200px;
    padding: 0 4%;
    border-radius: 50%;
    background: none;
}

#userInfo {
    width: auto;
    padding: 0 4%;
    background: none;
}

#username {
    padding: 8px 0;
    font-size:40px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 4px 8px black;
    letter-spacing:3px;
    background: none;
}

#userBioText {
    margin: 0;
    padding: 8px 0;
    font-size:24px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px black;
    letter-spacing:3px;
    background: none;
}

button {
    background-color: var(--supporting-color4);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: var(--white-color);
    padding: 12px;
    margin: 8px 0;
}

button:hover {
    color: var(--secondary-color);
}